body {
    margin: 0;
}

.nav-menu {
    display: flex;
    color: whitesmoke;
    justify-content: flex-end;
    align-items: center;
    background-color: #1b1021ff;
}

.logo {
    margin-right: auto;
    width: 40px;
    margin : 20px;
}

.head-title {
    margin-right: auto;
    font-family: 'Oxanium', cursive;
    color: whitesmoke;
    font-size: 42px;
    margin-top: px;
}

.nav-menu > .right {
    flex-basis: 120px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    border-radius: 10px;
}

.about a {
    text-decoration: none;
    color: whitesmoke;
}

.account {
    margin-right: 20px;
    background-color: #1cc59dff ;
    padding: 10px;
}

.account a {
    text-decoration: none;
    color: black;
}

.identity {
    display : flex;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 200px;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.data-username, .data-nama {
    font-family: 'Poppins', cursive;
    color: rgb(57, 57, 57);
    margin-left: 40px;
}

.data-nama {
    font-size: 1.8em;
}

.line-section {
    width: 100%;
    border-bottom: 1.8px solid #1cc59dff;
}

.course {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.course-text {
    font-family: 'Outfit', sans-serif;
    font-size: 3em;
    margin-top: 30px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    align-content: space-between;
}

.card-element {
    height: 350px;
    flex-basis: 300px;
    background-color: whitesmoke;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.python-course > .image {
    height: 50%;
    width: 100%;
    background-image: url("https://www.giraffeacademy.com/programming-languages/python/introduction.png");
    background-size: cover;
}

.java-course > .image {
    height: 50%;
    width: 100%;
    background-image: url("https://www.giraffeacademy.com/programming-languages/java/introduction.png");
    background-size: cover;
}

.cpp-course > .image {
    height: 50%;
    width: 100%;
    background-image: url("https://www.giraffeacademy.com/programming-languages/c++/introduction.png");
    background-size: cover;
}

.caption {
    margin: 20px;
    font-family: 'Poppins', cursive;
}


footer {
    background-color: #1b1021ff;
    height: 300px;
    width: 100%;
    margin-top: 100px;
}

.tombol-lihat> a {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Poppins', cursive;
}

.tombol-lihat {
    position: relative;
    top : 30px;
    left : 20px;
    background-color: #1cc59dff;
    padding : 10px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
}

