body {
    margin: 0;
}

.nav-menu {
    display: flex;
    color: whitesmoke;
    justify-content: flex-end;
    align-items: center;
    background-color: #1b1021ff;
    margin-bottom: 60px;
}

.logo {
    margin-right: auto;
    width: 40px;
    margin : 20px;
}

.head-title {
    margin-right: auto;
    font-family: 'Oxanium', cursive;
    color: whitesmoke;
    font-size: 42px;
    margin-top: px;
}

.nav-menu > .right {
    flex-basis: 120px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    border-radius: 10px;
}

.about a {
    text-decoration: none;
    color: whitesmoke;
}

.account {
    margin-right: 20px;
    background-color: #1cc59dff ;
    padding: 10px;
}

.account a {
    text-decoration: none;
    color: black;
}

.tampilan-video {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}




.collapsible {
    background-color: #1cc59dff;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

main {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 60px;
}
  
  .active, .collapsible:hover {
    background-color: #1b1021ff;
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }